# Database Configuration
DB_USER=lior_admin
DB_PASSWORD=lior_password
DB_NAME=n8n_prod

# n8n UI Credentials
N8N_USER=admin
N8N_PASSWORD=admin123!!

# Security
N8N_SECURE_COOKIE=false
N8N_ENCRYPTION_KEY= {run openssl rand -hex 24}